<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>舟山市社会救助管理系统</title>
    {% style "js/easyui/themes/bootstrap/easyui.css" %}
    {% style "css/screen.css" %}
    {% script "js/easyui/jquery.min.js" %}
    {% script "js/easyui/jquery.easyui.min.js" %}
    {% script "js/easyui/locale/easyui-lang-zh_CN.js" %}
    {% script "js/jqueryplugin/jquery.json-2.4.js" %}
    {% script "js/jqueryplugin/date.js" %}
    {% script "js/jqueryplugin/printThis.js" %}
    <script type="application/javascript">
        var roleid={{roleid}}
    </script>


   <!-- <script data-main="jsnew/mainapp" src="require.js"></script>
    <script type="text/javascript"  src="jsnew/commonfuncs/jquery.json-2.4.js"></script>
-->
</head>
<body>

</body>
</html>
