<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>舟山市社会救助管理系统</title>
    {% style "js/easyui/themes/bootstrap/easyui.css" %}
    {% style "css/screen.css" %}
    {% script "js/easyui/jquery.min.js" %}
    {% script "js/easyui/jquery.easyui.min.js" %}
    {% script "js/easyui/locale/easyui-lang-zh_CN.js" %}
    {% script "js/jqueryplugin/jquery.json-2.4.js" %}
    {% script "js/jqueryplugin/date.js" %}
    {% script "js/commonfuncs/jqueryextend.js" %}
    {% script "js/jqueryplugin/printThis.js" %}
    <script data-main="js/mainapp" src="js/require.js"></script>

    <script type="text/javascript">

        var htmlpath="{{htmlpath}}" ;
        var jspath="{{jspath}}";


            var require_render=function(htmlfile,jsfile){

                $('body').append(htmlfile);
                $.parser.parse();
                jsfile.render();

            };

            require([htmlpath,jspath],require_render);



    </script>

</head>
<body>
{{htmlcontent}}
</body>
</html>
