<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>舟山市社会救助管理系统</title>
    {% style "js/easyui/themes/bootstrap/easyui.css" %}
    {% style "css/screen.css" %}
    {% script "js/easyui/jquery.min.js" %}
    {% script "js/easyui/jquery.easyui.min.js" %}
    {% script "js/easyui/locale/easyui-lang-zh_CN.js" %}
    {% script "js/jqueryplugin/jquery.json-2.4.js" %}
    {% script "js/jqueryplugin/date.js" %}
    {% script "js/commonfuncs/jqueryextend.js" %}
    {% script "js/jqueryplugin/printThis.js" %}
    <script data-main="js/mainapp" src="js/require.js"></script>
    <script type="application/javascript">
        var roleid={{roleid}}
    </script>


   <!-- <script data-main="jsnew/mainapp" src="require.js"></script>
    <script type="text/javascript"  src="jsnew/commonfuncs/jquery.json-2.4.js"></script>
-->
</head>
<body class="easyui-layout" id="mainlayoutpanel">
<div data-options="region:'north',border:true" class="cs-north" >
    <div class="cs-north-bg">
        <div class="cs-north-logo">

        </div>


        <!--<ul class="ui-skin-nav" style="display: none;">
            <li class="li-skinitem" title="gray"><span class="gray" rel="gray"></span></li>
            <li class="li-skinitem" title="default"><span class="default" rel="default"></span></li>
            <li class="li-skinitem" title="bootstrap"><span class="bootstrap" rel="bootstrap"></span></li>
            <li class="li-skinitem" title="black"><span class="black" rel="black"></span></li>
            <li class="li-skinitem" title="metro"><span class="metro" rel="metro"></span></li>
            <li class="li-skinitem" title="pepper-grinder"><span class="pepper-grinder" rel="pepper-grinder"></span></li>
            <li class="li-skinitem" title="blue"><span class="blue" rel="blue"></span></li>
            <li class="li-skinitem" title="cupertino"><span class="cupertino" rel="cupertino"></span></li>
            <li class="li-skinitem" title="dark-hive"><span class="dark-hive" rel="dark-hive"></span></li>
            <li class="li-skinitem" title="sunny"><span class="sunny" rel="sunny"></span></li>
        </ul>-->

        <ul id="headnavul">
            <li class="li-skinitem" ><img src="img/head/1.png"/><a id="welcomename">欢迎您:{{displayname}}</a></li>
            <li class="li-skinitem" id="domshowalterpwd"><img src="img/head/5.png"/><a >重设密码</a></li>
            <li class="li-skinitem" id="domlogout"><img src="img/head/7.png"/>
                <a  style="text-decoration: none;">退出</a></li>
        </ul>


    </div>
</div>
<div data-options="region:'west',split:true,border:true"  id="westpanel"  title="导航栏" class="cs-west">

</div>
<div id="mainPanle" data-options="region:'center'" >
    <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false">
        <div title="主页" id="0" class="indexbackground">
            <div class="cs-home-remark">
                <h1>欢迎使用网上体检系统</h1>
            </div>
        </div>
    </div>
</div>

<div data-options="region:'south',border:false" class="cs-south">
    <a  id="indextime"></a>
</div>

</body>
</html>
