<div id="itemmanagerlayout" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">


    <div data-options="region:'center',title:'项目维护'">
        <table id="itemmanagerpanel" >
            <thead>
            <tr>
                <th data-options="field:'text',width:300,formatter:function(val,rowData,rowIndex){
                     var signaturepath=rowData.signaturepath;
                     return '<span signaturepath=&quot;'+signaturepath+'&quot; class=&quot;treefunc&quot;>' + val + '</span>';
                }">功能树</th>

            </tr>

            </thead>


        </table>
    </div>

    <div data-options="region:'east',split:true,collapsed:true" title="详细信息" style="width:500px;">

            <div id="iteminfodiv" style="padding:10px 10px 10px 10px;">

            <form id="iteminfoform" method="post">
            <table class="formtable" style="width: 100%;">
                <tr>
                    <td>项目名称:</td>
                    <td><input class="easyui-textbox" style="width: 100%" type="text" name="itemname" data-options="required:true"></td>
                </tr>

                <tr>
                    <td>拼音代码:</td>
                    <td>
                    <input class="easyui-textbox" name="pycode" style="width: 100%">
                    </td>
                </tr>
                <tr>
                    <td>价格:</td>
                    <td>
                    <!--<input type="text" name="imgcss" >-->
                    <input class="easyui-textbox" data-options="multiline:false"  style="width:100%;" name="price">
                    </td>
                </tr>
                <tr>
                    <td>排列序号:</td>
                    <td>
                    <input class="easyui-textbox" name="sortnum" style="width: 100%" >
                    </td>
                </tr>


                <tr style="display: none;">
                    <td>
                        <input type="text" name="deptid" style="display: none;">
                        <input type="text" name="pid" style="display: none;">
                        <input type="text" name="itemid" style="display: none;">

                    </td>
                </tr>


            </table>
            </form>
                <div style="text-align:center;padding:5px;display: none;" id="newitemformbtns">
                    <a  class="easyui-linkbutton new"   >新增项目</a>

                </div>
                <div style="text-align:center;padding:5px;display: none" id="edititemformbtns">
                    <a  class="easyui-linkbutton newdetail"  >新增项目明细</a>
                    <a  class="easyui-linkbutton save"   >保存</a>
                    <a  class="easyui-linkbutton del"   >删除</a>
                </div>
            </div>

        <div id="itemdetailinfodiv" style="padding:10px 10px 10px 10px;display: none;">

            <form id="itemdetailinfoform" method="post">
                <table class="formtable" style="width: 100%;">
                    <tr>
                        <td>明细名称:</td>
                        <td><input class="easyui-validatebox" type="text" name="itemdetailname" data-options="required:true"></td>
                        <td>单位:</td>
                        <td><input class="easyui-validatebox" type="text" name="unit" data-options="required:false"></td>
                    </tr>

                    <tr>
                        <td>参考下限:</td>
                        <td><input  class="easyui-validatebox" type="text" name="downlimit" data-options="required:false" ></td>
                        <td>参考上限:</td>
                        <td><input  class="easyui-validatebox" type="text" name="uplimit" data-options="required:false" ></td>
                    </tr>
                    <tr>
                        <td>正常提示:</td>
                        <td><input  class="easyui-validatebox" type="text" name="std_mess" data-options="required:false" ></td>
                        <td>偏低提示:</td>
                        <td><input  class="easyui-validatebox" type="text" name="down_mess" data-options="required:false" ></td>
                    </tr>

                    <tr>
                        <td>偏高提示:</td>
                        <td><input  class="easyui-validatebox" type="text" name="up_mess" data-options="required:false" ></td>
                        <td>拼音代码:</td>
                        <td><input  class="easyui-validatebox" type="text" name="pycode" data-options="required:false" ></td>
                    </tr>

                    <tr>
                        <td>排序号:</td>
                        <td><input  class="easyui-validatebox" type="text" name="sortnum" data-options="required:false" ></td>
                    </tr>


                </table>
            </form>
            <div style="text-align:center;padding:5px" id="itemdetailformbtns">
                <a  class="easyui-linkbutton save"  >保存</a>
                <a  class="easyui-linkbutton del"  >删除</a>
            </div>
        </div>






    </div>



</div>