<div id="newcontrolitemwin">
    <form>
        <table class="formtable">
            <tr>
                <td>标题:</td>
                <td><input class="easyui-validatebox" type="text" style="width: 100%" name="title" data-options="required:true"></td>

            </tr>

            <!--<tr>
                <td>类别:</td>
                <td>
                    <input class="easyui-combobox lazy-combobox" type="text"
                           name="type" searchtype="总控室类别"
                           data-options="required:true,valueField: 'enumeratevalue',
                                         textField: 'enumeratelabel',width: '100%'">
                </td>

            </tr>-->
            <tr>
                <td>内容:</td>
                <td><input  class="easyui-textbox" type="text" name="content" data-options="multiline:true"
                            style="height:80px;width: 100%"></td>

            </tr>


           <!-- <tr>
                <td>排序号:</td>
                <td><input  class="easyui-validatebox" type="text" name="sortnum" data-options="required:false" ></td>
            </tr>-->

        </table>

    </form>

</div>