<div id="newcheckitemwin">
    <form>
        <table>
            <tr>
                <td>明细名称:</td>
                <td><input class="easyui-validatebox" type="text" name="itemdetailname" data-options="required:true"></td>
                <td>单位:</td>
                <td><input class="easyui-validatebox" type="text" name="unit" data-options="required:false"></td>
            </tr>

            <tr>
                <td>参考下限:</td>
                <td><input  class="easyui-validatebox" type="text" name="downlimit" data-options="required:false" ></td>
                <td>参考上限:</td>
                <td><input  class="easyui-validatebox" type="text" name="uplimit" data-options="required:false" ></td>
            </tr>
            <tr>
                <td>正常提示:</td>
                <td><input  class="easyui-validatebox" type="text" name="std_mess" data-options="required:false" ></td>
                <td>偏低提示:</td>
                <td><input  class="easyui-validatebox" type="text" name="down_mess" data-options="required:false" ></td>
            </tr>

            <tr>
                <td>偏高提示:</td>
                <td><input  class="easyui-validatebox" type="text" name="up_mess" data-options="required:false" ></td>
                <td>拼音代码:</td>
                <td><input  class="easyui-validatebox" type="text" name="pycode" data-options="required:false" ></td>
            </tr>

            <tr>
                <td>排序号:</td>
                <td><input  class="easyui-validatebox" type="text" name="sortnum" data-options="required:false" ></td>
            </tr>

        </table>

    </form>

</div>