<div id="newdeptwin">
    <form>
        <table>
            <tr>
                <td>科室名:</td>
                <td><input class="easyui-validatebox" type="text" name="deptname" data-options="required:true"></td>
            </tr>
            <tr>
                <td>拼音简码:</td>
                <td><input class="easyui-validatebox" type="text" name="pycode" data-options="required:true"></td>
            </tr>

            <tr>
                <td>科室类别:</td>
                <td><input class="easyui-combobox lazy-combobox" type="text"
                           name="depttype" searchtype="科室类别"
                           data-options="required:true,valueField: 'enumeratevalue',
                                         textField: 'enumeratelabel' "></td>
            </tr>

        </table>

    </form>

</div>