<div id="unitgroupsmanagerlayout" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">


    <div data-options="region:'center',title:''">
        <ul id="unitgroupsmanagerpanel" >


        </ul>
    </div>

    <div id="unitgroupsmanagertable" data-options="region:'east',split:true,collapsed:true" title="详细信息" style="width:70%;height: 100%;">
        <div data-options="region:'center',title:'项目维护'">

            <div style="text-align:center;padding:5px" id="unitgroupsitemmanagebtns">
                <a  class="easyui-linkbutton save" data-options="disabled:false" >保存</a>

            </div>
        </div>




    </div>
    <!--<div id="unitgroupspaneltb" style="padding:5px;height:auto;vertical-align: middle;">-->
        <!--<a>快速搜索: <input class="keyword" type="keyword" style="width:120px"></a>-->

        <!--&lt;!&ndash;<a class="easyui-linkbutton newunitgroups" data-options="iconCls:'icon-new'">新增单位</a>&ndash;&gt;-->

    <!--</div>-->




</div>